.score {
  padding: 0.5rem 2rem;
  width: fit-content;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  &__title {
    color: var(--color-score);
    text-transform: uppercase;
  }

  span {
    font-size: 2rem;
    color: var(--color-dark);
    font-weight: var(--font-bold);
  }

  @media (min-width: 900px) {
    padding-inline: 3rem;

    span {
      font-size: 4rem;
    }
  }
}
