@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --gradient-scissors: to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --gradient-paper: to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --gradient-rock: to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --gradient-lizard: to right, hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --gradient-cyan: to right, hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  --gradient-body: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  --color-dark: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --outline-header: hsl(217, 16%, 45%);

  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-semi-bold: 600;
  --font-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-semi-bold);
}

#root {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--gradient-body));
  position: relative;
  z-index: 1;
}
